@using MoneyHawk.Core
@using Net.Web
@model IEnumerable<SalesInvoice>

@{
    ViewBag.Title = "Invoices";
}

@{
    var grid = new WebGrid<SalesInvoice>(source:Model); 
}

<div id="grid">
    @grid.GetHtml(
                tableStyle: "table table-striped table-bordered",
        headerStyle: "head",
        alternatingRowStyle: "alt"
    )
</div>