@model System.Collections.Generic.IEnumerable<MoneyHawk.Core.IncomingInvoice>

@{
    ViewBag.Title = "Expenses";
}

@{
    var grid = new WebGrid(Model)
    {
       
    
    };
}

<div id="grid">
    @grid.GetHtml()
</div>