@using MoneyHawk.Core
@using Net.Web
@model IEnumerable<IncomingInvoice>

@{
    ViewBag.Title = "Expenses";
}

@{
    var grid = new WebGrid<IncomingInvoice>(Model)
    {
       
    
    };
}

<div id="grid">
    @grid.GetHtml(tableStyle:"table table-striped table-bordered")
</div>