@{
    ViewBag.Title = "About MoneyHawk";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>MoneyHawk demo project... Demonstrates the MoneyHawk C# API to access MoneyBird using ServiceStack</p>
