@{
    ViewBag.Title = "Moneyhawk";
}

<div class="jumbotron">
    <h1>MoneyHawk</h1>
    <p class="lead">This is a little demo project that loads data from moneybird API (and I actually use this to create reports from my administration to be imported in Exact)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a little demo project that loads data from moneybird API (and I actually use this to create reports from my administration to be imported in Exact)
        </p>
        @Html.ActionLink("Register to access your account", "Register", "Account", null, new { @class="btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Get the source</h2>
        <p>The source code is licensed under MIT</p>
        <p><a class="btn btn-default" href="https://github.com/zidad/money-hawk">Browse on GitHub</a></p>
    </div>
</div>