@model System.Collections.Generic.IEnumerable<MoneyHawk.Core.Contact>

@{
    ViewBag.Title = "Contacts";
}

@{
    var grid = new WebGrid(source:Model); 
}

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt"
    )
</div>