@using MoneyHawk.Web.Controllers
@using Net.System
@using Net.Web
@model List<ExpenseReportLine>

@{
    ViewBag.Title = "Expense report";
    Layout = "../Shared/DataOnly.cshtml";
  }

@{
    var grid = new WebGrid<ExpenseReportLine>(source:Model, rowsPerPage:200);     
}

<div id="grid">
    @grid.GetHtml(
                tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
                    grid.Col("InvoiceDate", "Datum", line => line.InvoiceDate.To<string>("d")),
                    grid.Col("Description", "Naam", line => line.Description),
                    grid.Col("Price Inc", "incl btw", line => line.TotalPriceInclTax.To<string>("0.00")),
                    grid.Col("Tax", "%", line => line.Tax.To<string>("0 %")),
                    grid.Col("Price Ex", "ex", line => line.TotalPriceExclTax.To<string>("0.00")),
                    grid.Col("TaxAmount", "btw", line => (line.TotalPriceInclTax - line.TotalPriceExclTax).To<string>("0.00")),
                    grid.Col("Kind1", "soort", line => line.Kind1),
                    grid.Col("Kind2", "soort", line => line.Kind2),
                    grid.Col("Invoice", "factuurnummer", line => line.Invoice),
                    grid.Col("ContactId", "contact nr", line => line.ContactId.ToString()),
                    grid.Col("Contact", "contact naam", line => line.Contact),
                    grid.Col("LedgerId", "grootboekrekening", line => line.LedgerId),
                    grid.Col("Ledger", "grootboekrekeningnaam", line => line.Ledger)
            )
        )
</div>