@using MoneyHawk.Web.Controllers
@using MoneyHawk.Core
@using Net.System
@using Net.Web
@model List<MoneyHawk.Web.Controllers.ExpenseLineWithRelations>

@{
    ViewBag.Title = "Expense report";
    Layout = "../Shared/DataOnly.cshtml";
  }

@{
    var grid = new WebGrid<ExpenseLineWithRelations>(source:Model, rowsPerPage:200);     
}

<div id="grid">
    @grid.GetHtml(
                tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
                    grid.Col("InvoiceDate", "Datum", line => line.Expense.InvoiceDate.To<String>("d")),
                    grid.Col("Description", "Naam", line => line.Details.Description),
                    grid.Col("Price Inc", "incl btw", line => line.Details.TotalPriceInclTax.To<String>("0.00")),
                    grid.Col("Tax", "%", line => line.Details.Tax.To<String>("0 %")),
                    grid.Col("Price Ex", "ex", line => line.Details.TotalPriceExclTax.To<String>("0.00")),
                    grid.Col("TaxAmount", "btw", line => (line.Details.TotalPriceInclTax - line.Details.TotalPriceExclTax).To<String>("0.00")),
                    grid.Col("Kind1", "soort", line => line.Type1),
                    grid.Col("Kind2", "soort", line => line.Type2),
                    grid.Col("Invoice", "factuurnummer", line => line.Expense.InvoiceId),
                    grid.Col("ContactId", "contact nr", line => line.Contact.Id),
                    grid.Col("Contact", "contact naam", line => line.Contact.Name),
                    grid.Col("LedgerId", "grootboekrekening", line => line.Ledger.LedgerAccountId),
                    grid.Col("Ledger", "grootboekrekeningnaam", line => line.Ledger.Name),
                    grid.Col("Price", "prijs", line => line.Details.Price.To<String>("0.00"))
            )
        )
</div>