@using Net.System
@model dynamic

@{
    ViewBag.Title = "Reports";
}

<h2>Dates</h2>

<p>@Html.ActionLink("All expenses as HTML table", "Expenses")</p>
<ul>
    @for (var year = DateTime.Now.Year - 3; year <= DateTime.Now.Year; year++)
    {
        <li>
            @Html.ActionLink(year.To<string>(), "Export", new { start = new DateTime(year, 1, 1), end = new DateTime(year, 12, 31) })
            
            <ul>
                @for (int quarter = 1; quarter <= 4; quarter++)
                {
                    var quarterEndMonth = quarter * 3;
                    var quarterStartMonth = quarterEndMonth - 2;
                    var quarterStartDate = new DateTime(year, quarterStartMonth, 1);
                    var quarterEndDate = new DateTime(year, quarterEndMonth, DateTime.DaysInMonth(year, quarterEndMonth));
                    <li>@Html.ActionLink($"Q{quarter} ({quarterStartDate:MMM} t/m {quarterEndDate:MMM})", "Export", new { start = quarterStartDate, end = quarterEndDate, name=$"{year}-Q{quarter}" })
            
                        <ul>
                            @for (int month = quarterStartMonth; month <= quarterEndMonth; month++)
                            {
                                var monthStartDate = new DateTime(year, month, 1);
                                var monthEndDate = new DateTime(year, month, DateTime.DaysInMonth(year, month));
                                <li>@Html.ActionLink(monthStartDate.ToString("MMM"), "Export", new {startDate = monthStartDate, endDate = monthEndDate, name = $"{year}-{month}"})</li>
                            }
                        </ul>
                    
                    </li>
                }
            </ul>
        </li>
    }
</ul>
