@using Net.System
@using OfficeOpenXml.FormulaParsing.Excel.Functions.DateTime
@model dynamic

@{
    ViewBag.Title = "Income/";
}

<h2>Dates</h2>

<p>@Html.ActionLink("All expenses as HTML table", "Expenses")</p>
<ul>
    @for (var year = DateTime.Now.Year - 3; year <= DateTime.Now.Year; year++)
    {
        <li>
            @Html.ActionLink(year.To<string>(), "Export", new { start = new DateTime(year, 1, 1), end = new DateTime(year, 12, 31) })
            <ul>
                @for (int month = 1; month <= 12; month++)
                {
                    var start = new DateTime(year, month, 1);
                    var end = new DateTime(year, month, DateTime.DaysInMonth(year, month));
                    <li>@Html.ActionLink(start.ToString("MMM"), "Export", new { start, end })</li>
                }
            </ul>
        </li>
    }
</ul>
